openapi: 3.1.0
info:
  title: openfair API
  version: "1.0"
  description: |
    Versioned public API of the openfair launchpad (Robinhood Chain, chainId 4663).
    Conventions: every response is wrapped in `{data, meta}` / `{error, meta}`;
    addresses are checksummed; wei values are strings; lists use cursor pagination;
    POST endpoints that compute (quote/simulate) are rate-limited (RateLimit-* headers).
    Policy: launches prepared via this API carry platformShareBps ≥ 1500 (15%);
    5000+ grants Supporter status (creation is free).
    Pairing: a launch is priced either in the chain's native coin (`quote: null`, the
    only case before factory v3) or in an allow-listed ERC-20 quote asset (GET /quotes).
    For a quote-paired launch every amount of that launch – fee, target, curve prices,
    trade volumes, referral accruals – is in the asset's base units; gas is always native.
    Modes: `fair` (bonding curve), `instant` (listed on Uniswap from block one) and
    `crowd` – a RAISE, which collects money against fixed on-chain terms and then either
    settles into a token plus a locked pool, or fails and refunds. Crowd rows are NOT in
    the catalogue by default and never will be: GET /tokens returns them only for
    `mode=crowd` or one of the raise statuses (`raising`, `succeeded`, `failed`,
    `written_off`), so every filter that existed before crowd – `status=graduated`,
    `status=dex`, `mode=fair`, `mode=instant`, `status=curve` – keeps the exact answer it
    always gave. GET /crowd/{token} is the raise itself, and openfair publishes no trust
    score for one.
  contact: { url: "https://openfair.app" }
servers:
  - url: https://openfair.app/api/v1
tags:
  - { name: public, description: config, fees, tokens, launches }
  - { name: compute, description: quote & simulation (rate-limited) }
  - { name: referrals }
  - { name: sessions, description: launch sessions (partner API key for creation) }
  - { name: events, description: SSE stream & webhooks }
components:
  securitySchemes:
    partnerKey: { type: http, scheme: bearer, description: "partner API key (of_…); scopes: launches:prepare, webhooks:manage" }
  schemas:
    Meta:
      type: object
      properties:
        requestId: { type: string }
        apiVersion: { type: string }
        chainId: { type: integer }
        factoryVersion: { type: string }
        generatedAt: { type: string, format: date-time }
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            stage: { type: string }
            retriable: { type: boolean }
            contractReason: { type: string }
            suggestedAction: { type: string }
        meta: { $ref: "#/components/schemas/Meta" }
    Token:
      type: object
      properties:
        address: { type: string }
        name: { type: string }
        symbol: { type: string }
        mode: { type: string, enum: [fair, instant, crowd] }
        status:
          type: string
          enum: [curve, graduated, dex, raising, succeeded, failed, written_off]
          description: >-
            The last four are raise states. `written_off` is TERMINAL: the pool reserve was
            released to the escrow, so no pool will ever exist, the token stays
            non-transferable and claims can never pay – redemption is the only path left.
            `dex` on a raise means its pool has been seeded.
        contractVersion: { type: string, description: "'crowd-1.0' for a raise; CrowdFactory is deliberately not part of the launch factory version series" }
        generation:
          type: integer
          enum: [2, 3]
          description: >-
            Fee-split generation of the factory that created it: 3 = a generation-3 (FeeSplit)
            factory – contracts.launchFactoryG3 or contracts.crowdFactoryG3 – and 2 = every
            earlier factory, whose create entry points have no FeeSplit argument. From the
            indexed row, no chain read; present in the list and on the single token.
        zap:
          type: [string, "null"]
          description: >-
            The OpenZap that routes an ETH buy of THIS launch, chosen by the factory that created
            it: generation 2 -> contracts.zap, generation 3 -> contracts.zapG3 (an OpenZap reverts
            UnknownLaunch for a launch its own factory did not create). null whenever GET
            /zap-quote cannot route one – a native launch, an instant listing, a raise, a
            graduated curve, or a chain with no zap for that generation (Arc, Stable).
        creator: { type: string }
        referrer: { type: [string, "null"] }
        totalSupplyWei: { type: string }
        createdAt: { type: string, format: date-time }
        createdAtUnix: { type: integer }
        graduated: { type: boolean }
        pool: { type: [string, "null"] }
        quote:
          description: "asset the launch trades against; null = the chain's native coin"
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/QuoteRef"
        marketCapUsd: { type: [number, "null"] }
        usdStale:
          type: [boolean, "null"]
          description: "quote launches: the feed price is older than 4 days or unreadable. null = native launch (no feed involved)"
        quoteFrozen:
          type: boolean
          description: "the freeze watch last saw this launch's quote asset frozen (issuer pause or blocklist) – buys and sells revert while it is true; always false on a native launch"
        quoteFrozenSince: { type: [string, "null"], format: date-time }
        logoUrl: { type: [string, "null"] }
        trustScore:
          type: [integer, "null"]
          description: >-
            0-100, on-chain facts only (GET /tokens/{address} only). ALWAYS null for a
            crowd launch: rating somebody else's fundraise is a recommendation, so the
            five-point terms checklist in `crowd.checklist` stands in its place.
        crowd:
          description: "present only on mode=crowd: the raise, straight from the index (no chain read per row)"
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/CrowdSummary"
        urls:
          type: object
          properties:
            openfair: { type: string }
            explorer: { type: string }
            dex: { type: [string, "null"], description: "null for a raise until its pool is seeded" }
            crowd: { type: string, description: "the campaign page; present on mode=crowd only" }
    QuoteRef:
      type: object
      description: An ERC-20 a launch is paired with (a tokenised stock on Robinhood Chain).
      properties:
        address: { type: string }
        symbol: { type: [string, "null"] }
        decimals: { type: [integer, "null"], description: "18 for every v1 quote asset" }
        feed: { type: [string, "null"], description: "Chainlink AggregatorV3 used for the USD figures" }
    QuoteAsset:
      allOf:
        - $ref: "#/components/schemas/QuoteRef"
        - type: object
          properties:
            enabled: { type: boolean }
            priceUsd: { type: [number, "null"] }
            updatedAt: { type: [string, "null"], format: date-time }
            updatedAtUnix: { type: [integer, "null"] }
            stale: { type: boolean, description: "price older than 4 days (MAX_PRICE_AGE) or unreadable" }
            deployFeeWei: { type: [string, "null"], description: "creation fee in quote base units; null while the feed is stale (creation would revert)" }
            targetWei: { type: [string, "null"] }
            startFdvWei: { type: [string, "null"] }
            crowd:
              description: "what a CROWD raise in this asset costs and is bound by – the same tuple GET /crowd/terms returns, so an asset picker needs no request per asset. null where crowd launches are off on this chain."
              oneOf:
                - type: "null"
                - $ref: "#/components/schemas/CrowdTerms"
    QuoteAssetList:
      type: object
      properties:
        registry: { type: [string, "null"], description: "QuoteRegistry address; null = quote pairs are off on this chain (items is then empty)" }
        items: { type: array, items: { $ref: "#/components/schemas/QuoteAsset" } }
    ZapQuote:
      type: object
      description: >-
        One priced route into (or out of) a quote-paired launch, plus the unsigned call.
        Paying ETH goes through OpenZap – WETH -> quote on a Uniswap V3 pool, then the
        curve, in one transaction; paying the quote asset directly skips the pool leg.
        Every *Wei is base units: ETH figures are native wei, quote figures are the quote
        asset's units, token figures are 18-decimal.
      properties:
        launch: { type: string }
        token: { type: string }
        symbol: { type: [string, "null"] }
        zap: { type: [string, "null"], description: "OpenZap address the tx is sent to on the ETH route – the launch's OWN generation's zap (contracts.zap for a generation-2 launch, contracts.zapG3 for a generation-3 one); null on the direct route, which needs no zap" }
        quote: { $ref: "#/components/schemas/QuoteRef" }
        direction: { type: string, enum: [buy, sell] }
        payWith:
          type: string
          enum: [eth, quote]
          description: "the ETH-denominated side: what is paid on a buy, what is received on a sell"
        poolFee: { type: [integer, "null"], description: "fee tier of the WETH/quote pool (500|3000|10000); null on the direct route" }
        pools:
          type: array
          description: every tier that quoted for this size, deepest first pick
          items:
            type: object
            properties:
              fee: { type: integer }
              amountOutWei: { type: string }
        slippageBps: { type: integer, description: "per leg; default 100 (1%)" }
        ethInWei: { type: [string, "null"] }
        quoteInWei: { type: [string, "null"] }
        tokensInWei: { type: [string, "null"] }
        quoteOutWei: { type: string, description: "pool output on a buy, curve payout on a sell" }
        tokensOutWei: { type: [string, "null"] }
        ethOutWei: { type: [string, "null"] }
        minQuoteOutWei: { type: string, description: "floor for the leg that produces the quote asset" }
        minTokensOutWei: { type: [string, "null"], description: "curve floor on a buy – the pool and curve haircuts compound" }
        minEthOutWei: { type: [string, "null"], description: "pool floor on an ETH sell – compounded the same way" }
        priceImpactBps:
          type: [integer, "null"]
          description: >-
            Depth cost of the pool leg: this size's rate against a 1% slice of it on the
            same pool. null on the direct route or when the slice is too small to quote.
            The curve leg has no impact notion – its price is a published function of how
            much has been sold.
        curveRemainingTokensWei:
          type: [string, "null"]
          description: "tokens the curve still has to sell; null when the launch did not answer"
        fillsCurve:
          type: boolean
          description: >-
            true when this input would take everything the curve has left. OpenLaunch caps
            the fill and refunds the overpayment in the QUOTE asset – straight to the buyer,
            never back through the zap as ETH – so send suggestedEthInWei/suggestedQuoteInWei
            instead to be left holding only what was asked for.
        suggestedEthInWei: { type: [string, "null"], description: "ETH input that fills the curve exactly; null unless fillsCurve" }
        suggestedQuoteInWei: { type: [string, "null"], description: "quote input that fills the curve exactly; null unless fillsCurve" }
        quotedAt:
          type: string
          description: >-
            ISO time the OLDER of the two legs was read on-chain. The pool leg is cached 10 s,
            the curve leg 2 s; age the floors against this, not against when the body arrived.
        deadline: { type: integer, description: "unix seconds, suggested – forwarded to the router" }
        deadlineSeconds: { type: integer }
        tx:
          type: object
          description: unsigned call for the user's wallet; this API never signs
          properties:
            description: { type: string }
            to: { type: string }
            data: { type: string }
            valueWei: { type: string }
        approveTx:
          description: "the approve that must land first; null when nothing is pulled from the caller (buying with ETH)"
          oneOf:
            - type: "null"
            - type: object
              properties:
                description: { type: string }
                to: { type: string }
                data: { type: string }
                valueWei: { type: string }
        warnings: { type: array, items: { type: string } }
    CrowdSummary:
      type: object
      description: >-
        The compact raise block every list item and card carries. Every field comes out of
        the index, so a page of 24 cards makes no chain call at all. On GET
        /tokens/{address} it additionally carries floorPerTokenWei and checklist.
      properties:
        phase: { type: string, enum: [raising, failed, succeeded], description: "the contract's own phase; see `status` for the five catalogue states" }
        raisedWei: { type: string }
        hardCapWei: { type: string }
        softCapWei: { type: string, description: "below it at settlement the raise FAILS and refunds; measured without the creator side's own money" }
        contributorCount: { type: integer }
        deadlineEffective: { type: [string, "null"], format: date-time, description: "an observed issuer freeze pushes this out by 3 days from when it was seen, capped at 30 days past the announced deadline" }
        poolSeeded: { type: boolean }
        poolWrittenOff: { type: boolean }
        floorPerTokenWei: { type: [string, "null"], description: "redemption floor right now – it DECAYS to zero as the author's escrow matures" }
        checklist:
          type: object
          properties: { passed: { type: integer }, total: { type: integer } }
    CrowdTerms:
      type: object
      description: >-
        What creating a raise in one asset costs and is bound by right now. `available:
        false` is a STATE, not an error: `termsFor` reverts exactly where a creation would
        (a stale equity feed on a weekend, an asset the registry does not allow-list).
      properties:
        quote: { type: [string, "null"], description: "null = the chain's native coin" }
        createFeeWei: { type: [string, "null"], description: "escrowed INSIDE the raise and refunded to the creator if it fails" }
        minContributionWei: { type: [string, "null"], description: "the dust floor a raise's own minimum may not go below" }
        feeCapWei: { type: [string, "null"], description: "absolute ceiling on the platform's cut of the author's payouts" }
        volatile: { type: [boolean, "null"] }
        maxDurationDays: { type: [integer, "null"], description: "14 for a volatile quote asset, 60 otherwise" }
        raiseFeeBps: { type: [integer, "null"] }
        platformShareBps: { type: [integer, "null"] }
        minVestingSeconds:
          type: [integer, "null"]
          description: >-
            the shortest author escrow THIS factory accepts, read off its own MIN_VESTING.
            It is 86400 on a factory deployed after 2026-09-20 and 7776000 on one deployed
            before, so a client that hard-codes either is wrong against half the hosts.
            null = the factory did not answer (an older ABI, an RPC hiccup) – fall back to
            your own floor, do NOT show an open range.
        maxVestingSeconds:
          type: [integer, "null"]
          description: "the longest author escrow this factory accepts (MAX_VESTING, 63072000 = 730 days). null as above."
        minVestingIntervalSeconds:
          type: [integer, "null"]
          description: >-
            the smallest NON-ZERO payout step (MIN_VESTING_INTERVAL). 0 is always legal and
            means per-second accrual; a non-zero step must be at least this AND must divide
            vestingDuration exactly, or creation reverts BadConfig. Held equal to
            minVestingSeconds on both generations. null as above.
        available: { type: boolean }
        reason: { type: [string, "null"], enum: [stale_price, quote_not_allowed, null] }
    CrowdDetail:
      type: object
      description: >-
        One raise in full. There is no trustScore field by design. Every *Wei is the base
        unit of the asset the raise collects – the chain's native coin when `quote` is null.
      properties:
        address: { type: string, description: "the token" }
        crowd: { type: string, description: "the OpenCrowd contract every action is sent to" }
        harvester: { type: [string, "null"] }
        creator: { type: string }
        referrer: { type: [string, "null"] }
        feeRecipient: { type: string, description: "who the author's escrow pays; one of the three creator-side addresses" }
        teamBeneficiary: { type: [string, "null"] }
        metadataCID: { type: [string, "null"] }
        metadata:
          type: object
          description: >-
            The creator's statements are served from a mutable store while the binding is
            the immutable CrowdParams.metadataHash – so the server hashes the bytes it
            serves and reports whether they agree. `matches: false` means the served text
            is NOT what was signed on-chain. Addenda have no on-chain hash of their own,
            so their `matches` is always null.
          properties:
            hash: { type: [string, "null"] }
            servedHash: { type: [string, "null"] }
            matches: { type: [boolean, "null"] }
            addenda:
              type: array
              items:
                type: object
                properties: { cid: { type: string }, ts: { type: [string, "null"], format: date-time }, matches: { type: "null" } }
        phase: { type: string, enum: [raising, failed, succeeded] }
        status: { type: string, enum: [raising, succeeded, dex, failed, written_off] }
        reason: { type: [string, "null"], enum: [cancelled, abandoned, softCapMissed, poolWrittenOff, null] }
        quote:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/QuoteRef"
        terms:
          type: object
          description: "immutable, from the creation event – the raise cannot change any of it"
        clock:
          type: object
          description: "deadline, its announced original, the effective one, and the moments withdraw/settle/abandon open"
        progress:
          type: object
          description: >-
            `eligibleRaisedWei` excludes the creator side's own money, which is what the
            soft cap is measured on; that side is capped at 10 % of the hard cap.
        supply:
          type: object
          description: >-
            `basis` is 'settled' (facts from the settlement) or 'hardCap' (the same
            arithmetic projected at a full raise). `participantShareBps` is the
            participants' share of what SURVIVES the settlement burn – it is higher than
            crowdTokensBps, which only sizes the derived supply.
        settlement: { type: object }
        escrow:
          type: object
          description: >-
            `releasableWei` – not authorPotWei – is what the author's release button is
            gated on. `solvencyBps` below 10000 means the quote's issuer burned into this
            contract: every exit pays that fraction and the rest is LOST, not deferred, and
            neither withdraw nor refund has a minimum-out to protect against it.
            `floorZeroAt` is the date the redemption floor reaches zero.
        checklist:
          type: object
          description: >-
            The five published terms checks, thresholds and all: poolBps >= 3000; author
            vesting >= 90 days; a redemption escrow exists at all; team tokens <= 1000 bps
            AND <= half of crowdTokensBps; a per-wallet cap of at most 5 % of the hard cap.
          properties:
            poolBps: { type: boolean }
            vesting: { type: boolean }
            redeem: { type: boolean }
            teamTokens: { type: boolean }
            walletCap: { type: boolean }
            passed: { type: integer }
            total: { type: integer }
        indexedThroughBlock: { type: integer }
        updatedAt: { type: string, format: date-time }
    CrowdParticipant:
      type: object
      description: >-
        One wallet's position in a raise, and a MACHINE-readable reason for every action it
        cannot take – six different reverts stand behind `contribute` alone, and a page
        that guesses can only show "gas estimation failed" after the user signs.
      properties:
        address: { type: string }
        crowd: { type: string }
        account: { type: string }
        contributionWei: { type: string }
        entitlementWei: { type: string }
        claimableWei: { type: string }
        claimedWei: { type: string }
        redeemedWei: { type: string }
        refundClaimed: { type: boolean }
        parkedWei: { type: string }
        parkedSource: { type: string, enum: [crowd], description: "released with claimParked(to) on the raise, never on the harvester" }
        isCreatorSide: { type: boolean, description: "creator, feeRecipient or teamBeneficiary – their money never counts toward the soft cap and is capped at 10 % of the hard cap" }
        allowlisted: { type: [boolean, "null"], description: "null = the raise has an allowlist and the server holds no merkle tree; check your own proof" }
        maxAcceptableWei: { type: string, description: "min(room left, per-wallet room, creator-side room) – clamp the amount field to it" }
        solvencyBps: { type: integer }
        can:
          type: object
          properties:
            contribute: { type: boolean }
            withdraw: { type: boolean }
            claim: { type: boolean }
            redeem: { type: boolean }
            refund: { type: boolean }
            release: { type: boolean }
        blockedBy:
          type: object
          description: >-
            null where the action is possible. contribute: notRaising, closed, frozen,
            capFilled, selfCap, walletCap, belowMin, entitlementFloor (notAllowlisted is
            the client's own proof check). withdraw: notRaising, nothing, withdrawLock,
            shortfall. claim: notSucceeded, poolWrittenOff, poolNotSeeded, claimDelay,
            nothing. redeem: notSucceeded, nothing, beyondEntitlement. refund: notFailed,
            alreadyRefunded, nothing, shortfall. release: notSucceeded, nothingVested,
            poolWrittenOff.
          properties:
            contribute: { type: [string, "null"] }
            withdraw: { type: [string, "null"] }
            claim: { type: [string, "null"] }
            redeem: { type: [string, "null"] }
            refund: { type: [string, "null"] }
            release: { type: [string, "null"] }
    FeeSplitInput:
      type: object
      description: >-
        A generation-3 FeeSplit as the create call takes it (contracts/src/OpenLPHarvester.sol
        `struct FeeSplit`, field order holders, buyback, tokenHolders). Every field is integer bps
        0-10000, absent = 0. The quote side has ONE denominator: platformShareBps + holdersBps +
        buybackBps <= 10000, the creator's treasury taking the remainder; tokenHoldersBps is bps of
        the TOKEN side, whose remainder is burned. A non-zero share is at least 100 (1 %).
        buybackBps must be 0 on every chain in this generation, and holdersBps / tokenHoldersBps
        are accepted only where features.holdersPublisher is true (a non-dry publisher whose
        key the registry accepts).
      additionalProperties: false
      properties:
        holdersBps: { type: integer, minimum: 0, maximum: 10000, default: 0 }
        buybackBps: { type: integer, minimum: 0, maximum: 0, default: 0, description: "the buyback leg is not shipped (FEE_SPLIT_DESIGN §D11) – anything but 0 is BUYBACK_UNAVAILABLE" }
        tokenHoldersBps: { type: integer, minimum: 0, maximum: 10000, default: 0 }
    TokenList:
      type: object
      properties:
        items: { type: array, items: { $ref: "#/components/schemas/Token" } }
        nextCursor: { type: [string, "null"] }
        total: { type: integer }
    Quote:
      type: object
      properties:
        quoteId: { type: string }
        configHash:
          type: string
          description: >-
            Opaque digest of the prepared call, for matching a quote to the session and
            simulation it produced. Compare it, never re-derive it: the hashed shape follows
            the deployed factory's parameter tuple and is not stable across backend or
            factory releases.
        mode: { type: string, enum: [fair, instant, crowd] }
        factory: { type: string, description: "the contract the prepared call goes to – CrowdFactory for mode=crowd, LaunchFactory otherwise (contracts.launchFactoryG3 on the generation-3 path)" }
        to:
          type: string
          description: >-
            `to` of the create transaction – the same address as `factory`, named for what a
            wallet does with it. contracts.launchFactory (generation 2) on the legacy path;
            contracts.launchFactoryG3 when the request carried `feeSplit` or `generation: 3`;
            contracts.crowdFactory for mode=crowd.
        generation:
          type: integer
          enum: [2, 3]
          description: >-
            Which entry points `to` speaks. 2: createLaunch(p, referrer, cid) /
            createDirectListing(p, cid) / createCrowdLaunch(p, referrer, cid). 3: the same with a
            FeeSplit as the SECOND argument – createLaunch(p, s, referrer, cid),
            createDirectListing(p, s, cid), createCrowdLaunch(p, s, referrer, cid).
        feeSplit:
          description: >-
            The FeeSplit the create call carries as its second argument – the creator's, validated,
            with absent fields as 0 – or null on generation 2, whose entry points have none. For
            mode=crowd on a generation-3 CrowdFactory it is the factory's owner-set split, read from
            its feeSplit() view, which the call must restate exactly.
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeSplitInput"
        quote:
          description: "quote asset of the prepared launch; null = native"
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/QuoteRef"
        deployFeeWei: { type: string, description: "quote base units when `quote` is set, native wei otherwise" }
        supporterDiscountWei: { type: string }
        gasEstimateWei: { type: string, description: "native wei, always; includes a +20% safety multiplier" }
        requiredValueWei: { type: string, description: "native coin sent with the create call – 0 in quote mode" }
        requiredQuoteWei: { type: string, description: "pulled by the factory via transferFrom – 0 in native mode" }
        approveAmountWei:
          type: string
          description: >-
            what approveTx approves: requiredQuoteWei + 1%. The factory recomputes the
            USD-anchored fee from the live feed when the create executes, so an allowance
            of exactly requiredQuoteWei can fall short after a price tick.
        allowanceWei: { type: [string, "null"] }
        approvalNeeded: { type: boolean, description: "allowance < approveAmountWei" }
        approveTx:
          description: "unsigned approve(factory, approveAmountWei); send before the create call"
          oneOf:
            - type: "null"
            - type: object
              properties:
                description: { type: string }
                to: { type: string }
                data: { type: string }
                valueWei: { type: string }
        estimatedTotalWei: { type: string }
        platformShareBps: { type: integer, minimum: 1500 }
        referralShareBps: { type: integer }
        expiresAt: { type: string, format: date-time }
        warnings: { type: array, items: { type: string } }
    Simulation:
      type: object
      properties:
        success: { type: boolean }
        blockNumber: { type: string }
        estimatedGas: { type: [string, "null"] }
        requiredBalanceWei: { type: string, description: "native: value + gas headroom (gas headroom alone in quote mode)" }
        creatorBalanceWei: { type: string }
        requiredQuoteWei: { type: string }
        approveAmountWei: { type: string, description: "the allowance the quote_allowance check requires (requiredQuoteWei + 1%)" }
        creatorQuoteBalanceWei: { type: [string, "null"] }
        quoteAllowanceWei: { type: [string, "null"] }
        approvalNeeded: { type: boolean }
        configHash: { type: string }
        contractReason: { type: [string, "null"] }
        checks:
          type: array
          description: "network, fee_freshness, self_referral, balance, contract_call; quote launches add quote_balance and quote_allowance. contract_call is an eth_estimateGas of the exact call the quote prepared – its factory, its generation's entry point and its feeSplit – encoded with that factory's own ABI (a frozen snapshot for generation 2), never with whatever the host last compiled"
          items:
            type: object
            properties:
              name: { type: string }
              status: { type: string, enum: [passed, failed] }
              detail: { type: string }
    Session:
      type: object
      properties:
        sessionId: { type: string }
        status: { type: string, enum: [awaiting_wallet, completed, cancelled, expired] }
        mode: { type: string }
        configHash: { type: string }
        handoffUrl: { type: string }
        requiresWalletApproval: { type: boolean, const: true }
        quote:
          type: object
          description: the frozen quote the user reviews on the handoff page
          properties:
            requiredValueWei: { type: string }
            requiredQuoteWei: { type: string, description: "0 in native mode; otherwise the amount the factory pulls after the approve" }
            approveQuoteWei: { type: string, description: "the amount the approve step must ask for (requiredQuoteWei + 1% feed headroom)" }
            quote:
              description: "quote asset of the frozen launch; null = native"
              oneOf:
                - type: "null"
                - $ref: "#/components/schemas/QuoteRef"
            configHash: { type: string }
            factory: { type: string, description: "`to` of the wallet transaction – contracts.launchFactoryG3 for a generation-3 session" }
            chainId: { type: integer }
            generation:
              type: integer
              enum: [2, 3]
              description: "which entry point `factory` speaks; a handoff page that builds the call from `fn` + `params` alone must insert `feeSplit` as the SECOND argument when this is 3"
            feeSplit:
              description: "the FeeSplit the wallet transaction must carry (generation 3); null on generation 2"
              oneOf:
                - type: "null"
                - $ref: "#/components/schemas/FeeSplitInput"
        expiresAt: { type: string, format: date-time }
        txHash: { type: [string, "null"] }
        token: { type: [string, "null"] }
    Reward:
      type: object
      description: Claimable referral fees of one launch, in the asset THAT launch is priced in.
      properties:
        token: { type: string }
        symbol: { type: string }
        launch: { type: string }
        claimableWei: { type: string, description: "base units of `quote` when set, native wei otherwise – never add rows of different assets together" }
        quote:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/QuoteRef"
    ReferrerSummary:
      type: object
      properties:
        referrer: { type: string }
        tokensLaunched: { type: integer }
        fairLaunches: { type: integer }
        instantLaunches: { type: integer }
        claimableWei: { type: string, description: "flat sum across every referred launch (pre-quote-pairs field; use claimableByUnit when assets can differ)" }
        claimableByUnit:
          type: array
          description: claimable totals split by the asset they are claimable in
          items:
            type: object
            properties:
              unit: { type: string, description: "quote symbol, or the chain's native currency symbol" }
              decimals: { type: integer }
              claimableWei: { type: string }
              quote:
                oneOf:
                  - type: "null"
                  - $ref: "#/components/schemas/QuoteRef"
        claimNote: { type: string }
    AirdropCampaign:
      type: object
      description: |
        One allocation-board campaign, in the TWO-COLUMN shape every airdrop surface reads.
        `facts` is what the chain guarantees and is the only half this backend speaks for;
        `spec` is the creator's own words about why these recipients, in its own key so a page
        cannot render a claim as a contract fact.
      properties:
        id: { type: integer, description: "the on-chain campaign id, minted by reserve()" }
        token: { oneOf: [{ type: "null" }, { type: string }] }
        owner: { oneOf: [{ type: "null" }, { type: string }] }
        phase:
          type: string
          enum: [reserved, expired, scheduled, open, closed, swept, cancelled, unknown]
          description: |
            `expired` is a reservation whose publishBy passed with no list (cancel is open on it) and
            `scheduled` is published-but-not-open-yet: folding either into reserved or open would put a
            claim button on a page that reverts. `unknown` is a campaign this host only ever saw a
            Claimed log for – see `partial`.
        facts:
          type: object
          description: |
            Contract facts. Every amount is a decimal string in base units. A field is `null` when this
            host has not READ it, never a zero standing in for one: on a `partial` row `total`,
            `remaining`, `feeWei` and `publishBy` are all null, because the CampaignReserved log that
            carries them is below this host's start block.
          properties:
            total: { oneOf: [{ type: "null" }, { type: string }], description: "escrowed at reserve()" }
            claimed: { type: string, description: "recomputed in BigInt from the indexed Claimed logs, never incremented" }
            remaining: { oneOf: [{ type: "null" }, { type: string }], description: "0 once swept – the unclaimed remainder is burned (§A5.3) or, on a cancellation, back with the owner" }
            claimCount: { type: integer }
            feeWei: { oneOf: [{ type: "null" }, { type: string }] }
            root: { oneOf: [{ type: "null" }, { type: string }] }
            snapshotBlock: { oneOf: [{ type: "null" }, { type: integer }] }
            snapshotHash: { oneOf: [{ type: "null" }, { type: string }], description: "emitted by publish(), never stored on chain – this row is the only place it is written down" }
            listHash: { oneOf: [{ type: "null" }, { type: string }] }
            uri: { oneOf: [{ type: "null" }, { type: string }] }
            start: { oneOf: [{ type: "null" }, { type: integer }] }
            end: { oneOf: [{ type: "null" }, { type: integer }] }
            publishBy: { oneOf: [{ type: "null" }, { type: integer }] }
            swept: { type: boolean }
            cancelled: { type: boolean }
            sweptAmount: { oneOf: [{ type: "null" }, { type: string }] }
            burned: { type: boolean, description: "false on a swept campaign means the token had no working burn() and the remainder went to 0x…dEaD" }
            reservedBlock: { oneOf: [{ type: "null" }, { type: integer }] }
            publishedBlock: { oneOf: [{ type: "null" }, { type: integer }] }
        list:
          type: object
          description: "what THIS host holds of the list. 0 recipients is legal – the campaign is still claimable from the published bytes."
          properties:
            recipients: { type: integer }
            leafCount: { oneOf: [{ type: "null" }, { type: integer }] }
            treeHeld: { type: boolean }
            treeListHash: { oneOf: [{ type: "null" }, { type: string }] }
            listHashMatches: { oneOf: [{ type: "null" }, { type: boolean }], description: "does the tree this host holds hash to the list hash the chain published" }
            cid: { oneOf: [{ type: "null" }, { type: string }] }
        spec:
          description: "the RULE the list was built from – groups, thresholds, shares, split and the snapshot it was frozen at – or null. Never mixed into facts."
          oneOf: [{ type: "null" }, { type: object }]
        partial:
          type: boolean
          description: "true = this row was built from a later event and the reserve was never read. Said out loud rather than shown as a campaign with a zero budget."
    AirdropAllocation:
      type: object
      description: "\"In your allocation\": the amount and the proof, served against the root the CHAIN published."
      properties:
        campaign: { type: integer }
        token: { oneOf: [{ type: "null" }, { type: string }] }
        phase: { type: string }
        account: { type: string }
        index: { type: integer, description: "the leaf's own index = the row's position in the canonical list" }
        quoteAmount: { type: string, description: "always \"0\" in an airdrop – the shared leaf carries two assets and the file and the leaves must agree byte for byte" }
        amount: { type: string }
        proof: { type: array, items: { type: string } }
        leafTypes: { type: array, items: { type: string } }
        root: { type: string }
        listHash: { oneOf: [{ type: "null" }, { type: string }] }
        start: { oneOf: [{ type: "null" }, { type: integer }] }
        end: { oneOf: [{ type: "null" }, { type: integer }] }
        group: { oneOf: [{ type: "null" }, { type: string }], description: "which recipient group put this wallet on the list, when the list was built here" }
        reason: { oneOf: [{ type: "null" }, { type: string }] }
        claimedSeen: { type: boolean, description: "what this host has SEEN. The contract's bitmap is the truth; a claim in the current block is not indexed yet." }
        claim:
          oneOf:
            - type: "null"
            - type: object
              properties:
                amount: { type: string }
                ts: { oneOf: [{ type: "null" }, { type: integer }] }
                block: { oneOf: [{ type: "null" }, { type: integer }] }
                tx: { oneOf: [{ type: "null" }, { type: string }] }
    # --- BEGIN fee split (backend/src/feeSplit.js) ---------------------------
    FeeSplit:
      type: object
      description: |
        The ENFORCED fee split of one launch, or `null`.

        `null` is the answer for every launch created before the generation-3 factories, and it
        is not a gap: those harvesters have no such argument, they are immutable, and nothing
        about them will ever change. A row of zeros in their place would read as a question that
        was asked and answered. A generation-3 launch whose creator chose nothing DOES answer
        zeros, because there the zero is the answer.

        ONE DENOMINATOR: `quoteSide` is bps of the WHOLE quote side of a harvest – the same
        denominator `platformShareBps` has always used – and `treasuryBps` is the remainder,
        computed last, exactly as the contract computes it. `creatorSide` re-expresses the same
        numbers against the creator's own part; it is a second rendering, never a second source
        of truth. `tokenSide` is a DIFFERENT denominator: the token side of every harvest is
        burned, and `tokenSide.holdersBps` is 0 on every launch there has ever been.

        `holdersVault` and `buyback` are deployed by the platform inside the create
        transaction. There is no calldata field, on any path, through which a creator can name
        either address – which is what "enforced" means here.
      properties:
        enforced: { type: boolean, description: "always true when this object is present" }
        quoteSymbol:
          oneOf: [{ type: "null" }, { type: string }]
          description: "the asset the quote side is denominated in; null = the chain's native coin"
        quoteSide:
          type: object
          description: "bps of the whole quote side; the four sum to 10000"
          properties:
            platformBps: { type: integer }
            treasuryBps: { type: integer, description: "the remainder, computed last" }
            holdersBps: { type: integer }
            buybackBps: { type: integer, description: "0 on every chain in this generation – no chain has a swap router yet" }
            platformPct: { type: number }
            treasuryPct: { type: number }
            holdersPct: { type: number }
            buybackPct: { type: number }
        creatorSide:
          description: "the same three shares as bps of the creator's own part (10000 - platformBps), or null when the platform takes all of it"
          oneOf:
            - type: "null"
            - type: object
              properties:
                treasuryBps: { type: integer }
                holdersBps: { type: integer }
                buybackBps: { type: integer }
        tokenSide:
          type: object
          description: "the TOKEN side of a harvest, a different pie: burned unless holdersBps is non-zero"
          properties:
            holdersBps: { type: integer }
            burnBps: { type: integer }
        holdersVault:
          oneOf: [{ type: "null" }, { type: string }]
          description: "the launch's OpenHoldersVault; null when the split routes nothing to holders (no vault is deployed at all)"
        buyback: { oneOf: [{ type: "null" }, { type: string }] }
        harvester: { oneOf: [{ type: "null" }, { type: string }] }
        registry:
          oneOf: [{ type: "null" }, { type: string }]
          description: "the chain's RewardsRootRegistry; null = epoch roots are not indexed on this host, so accrued is shown and claims cannot be proved"
        setAtBlock: { oneOf: [{ type: "null" }, { type: integer }] }
    VaultEpoch:
      type: object
      description: |
        One sealed window of a launch's holders vault. Epochs tile the chain with no gap and no
        overlap, which is what makes the time-weighted balances over them add up to the whole
        history.
      properties:
        epoch: { type: integer }
        vault: { type: string }
        token: { oneOf: [{ type: "null" }, { type: string }] }
        sealed:
          type: boolean
          description: "false = this host never saw the seal (a start block above it, a pruned range). The amounts are then \"0\" because they are UNKNOWN, not because the epoch was empty."
        window:
          oneOf:
            - type: "null"
            - type: object
              properties:
                fromBlock: { type: integer }
                toBlock: { type: integer, description: "exclusive" }
                sealedAt: { type: integer }
        accrued:
          type: object
          properties: { quoteWei: { type: string }, tokenWei: { type: string } }
        claimed:
          type: object
          properties: { quoteWei: { type: string }, tokenWei: { type: string }, count: { type: integer } }
        remaining:
          oneOf:
            - type: "null"
            - type: object
              properties: { quoteWei: { type: string }, tokenWei: { type: string } }
        root:
          type: object
          description: |
            `state` mirrors `RewardsRootRegistry.activeRoot`: the newest version, not vetoed,
            whose `eta` has passed. `pending` = published and still inside its 24 h delay;
            `vetoed` = the guardian cancelled it and no replacement has been published;
            `none` = no root yet.
          properties:
            state: { type: string, enum: [none, pending, active, vetoed] }
            root: { oneOf: [{ type: "null" }, { type: string }] }
            version: { oneOf: [{ type: "null" }, { type: integer }] }
            rulesHash: { oneOf: [{ type: "null" }, { type: string }], description: "the pinned eligibility rule and exclusion set, so a dispute is decidable" }
            cid: { oneOf: [{ type: "null" }, { type: string }], description: "where the leaves file is published – a hash with no bytes behind it is theatre" }
            eta: { oneOf: [{ type: "null" }, { type: integer }] }
            vetoed: { type: boolean }
            history:
              type: array
              description: "every version this epoch has had, newest first – a veto is history, not a deletion"
              items: { type: object }
        rolledOver: { type: boolean }
        rollover:
          description: "the remainder folded back into the uncommitted pot – it does NOT leave the contract"
          oneOf:
            - type: "null"
            - type: object
              properties:
                quoteWei: { type: string }
                tokenWei: { type: string }
                timedOut: { type: boolean, description: "true = nobody ever published a root for it; false = a root paid and these leaves went unclaimed" }
                block: { type: integer }
        concentration:
          description: "only with ?concentration=1 – the top-1 and top-10 share of this epoch's eligible weight, from the published leaves. `note` says why a figure is null rather than substituting an estimate."
          type: object
          properties:
            top1Bps: { oneOf: [{ type: "null" }, { type: integer }] }
            top10Bps: { oneOf: [{ type: "null" }, { type: integer }] }
            leafCount: { oneOf: [{ type: "null" }, { type: integer }] }
            leg: { type: string, enum: [quote, token] }
            note: { oneOf: [{ type: "null" }, { type: string }] }
    ClaimableEpoch:
      type: object
      description: |
        One epoch a wallet can claim RIGHT NOW, with everything the transaction needs.

        Offered only when: the epoch is sealed and not rolled over; its newest root version is
        un-vetoed and past its `eta`; this host holds the leaves for that root; the stored tree's
        scope is that epoch (an airdrop list and a vault epoch with byte-identical rows produce
        the SAME root, so the scope is checked rather than assumed); and the wallet has no
        indexed `Claimed` for it. That last clause can only be BEHIND the chain, never ahead, so
        the failure mode is a claim that reverts as already-claimed rather than one hidden from
        somebody entitled to it.
      properties:
        token: { oneOf: [{ type: "null" }, { type: string }] }
        vault: { type: string }
        epoch: { type: integer }
        claimable:
          type: object
          properties: { quoteWei: { type: string }, tokenWei: { type: string } }
        window: { type: object }
        root: { type: object }
        claim:
          type: object
          description: "the vault call, in its own argument order, so a claim page never reassembles a leaf from two responses"
          properties:
            contract: { type: string }
            function: { type: string, example: "claim(uint256,uint256,address,uint256,uint256,bytes32[])" }
            args:
              type: array
              description: "[epoch, index, account, quoteAmount, tokenAmount, proof[]]"
              items: {}
        leafTypes: { type: array, items: { type: string } }
    HarvestPayout:
      type: object
      description: |
        One harvest, AS PAID. On the native path a referrer that refuses ETH has its cut folded
        into the platform's, so these are the contract's own reported amounts and never a bps
        calculation – a figure rebuilt from the split would overstate the payouts of every
        referred native launch. `harvest()` is permissionless: `caller` is whoever paid the gas,
        and nobody is obliged to call it.
      properties:
        block: { type: integer }
        ts: { oneOf: [{ type: "null" }, { type: integer }] }
        tx: { type: string }
        caller: { oneOf: [{ type: "null" }, { type: string }] }
        quoteWei: { type: string, description: "the whole quote side collected" }
        tokenBurnedWei: { type: string }
        paid:
          type: object
          properties:
            platformWei: { type: string }
            referrerWei: { type: string }
            treasuryWei: { type: string }
            holdersQuoteWei: { type: string }
            buybackWei: { type: string }
            holdersTokenWei: { type: string }
    # --- END fee split -------------------------------------------------------
paths:
  /networks:
    get:
      tags: [public]
      summary: Every openfair network and its integration endpoints (cached 10 min)
      description: |
        Per network: chain params, currency, explorer, the API/SDK/MCP/embed endpoints,
        economics, and `contracts` – `launchFactory`, `factoryVersion`, `registry`
        (the QuoteRegistry address, null where quote pairs are off) and `zap`
        (OpenZap, null where buying a quote-paired launch with ETH is not available).
        `current` is the chainId this deployment serves.
      responses: { "200": { description: OK } }
  /config:
    get:
      tags: [public]
      summary: Network & contract configuration (ETag, cached 5 min)
      description: |
        `contracts.registry` is the QuoteRegistry (null = quote pairs off on this chain)
        and `features.quotePairs` mirrors it; `economics` is denominated in the native
        coin – a quote-paired launch takes its fee/target/start FDV from GET /quotes.
        `contracts.zap` is OpenZap and `features.payWithEth` mirrors it: with both set,
        a quote-paired launch can be bought with ETH in one call (GET /zap-quote);
        null/false means buyers need the quote asset itself. `contracts.swapRouter` and
        `contracts.quoter` are the Uniswap V3 periphery those routes are priced against.
        `contracts.crowdFactory` and `features.crowdLaunch` mirror each other the same way:
        with them set, raises can be CREATED here (POST /launches/quote with mode=crowd).
        Existing raises are indexed and served either way – the flag governs creation and
        the storefront, not the data. `contracts.crowdFactories` is a DIFFERENT question and
        answers it with a list: every CrowdFactory generation this host indexes, oldest
        first, which since the second generation shipped (2026-09-20, the vesting floor) is
        what "is this raise one of ours" has to be checked against. `contracts.crowdFactory`
        is the last of them on a host whose storefront is on, and null on a host that indexes
        raises without offering new ones.
        `contracts.holdersVaultDeployer` and `contracts.harvesterDeployerV2` are the two CREATE
        helpers of the fee-split generation (`features.feeSplit`): they emit nothing and index
        nothing, and are published for the same reason `launchDeployer` and `simpleTokenDeployer`
        are – a deployment is the whole broadcast, and these are the addresses a launch's vault
        and harvester are actually created BY, so they are what an address prediction is taken
        against. Null on a host that has not been told about them; unlike `rewardsRegistry` they
        gate nothing, so an address here promises only that this host knows it.

        GENERATIONS (option B). Generation 3 – the enforced fee split – is deployed BESIDE
        generation 2, and the legacy fields keep their generation-2 meaning for as long as
        pinned SDK bundles (immutable, served forever) and third-party integrators encode
        against them:
        - `contracts.launchFactory` – PINNED MEANING: the factory that accepts the generation-2
          entry points, no FeeSplit – createLaunch(p, referrer, cid) and
          createDirectListing(p, cid). It stays generation 2 for legacy readers; it is never
          repointed at generation 3. Likewise `contracts.crowdFactory` (createCrowdLaunch(p,
          referrer, cid)) and `contracts.zap` (the generation-2 OpenZap).
        - `contracts.launchFactoryG3` – the generation-3 LaunchFactory: createLaunch(p, s,
          referrer, cid) and createDirectListing(p, s, cid), `s` a FeeSplit (FeeSplitInput).
          `contracts.crowdFactoryG3` – the generation-3 CrowdFactory (indexed; in
          `crowdFactories`). `contracts.rewardsRegistry` – the chain's RewardsRootRegistry.
          Each null where this host has none.
        - `contracts.zapG3` – the generation-3 OpenZap, the only zap that routes a launch
          created by `launchFactoryG3` (an OpenZap reverts UnknownLaunch for any other
          factory's launch). Null where absent – always on Arc and Stable, whose lineage has no
          OpenZap – and gated like `zap` (a deployed zap this host cannot price is null).
        - `features.feeSplit` – generation 3 is configured and indexed here.
          `features.holdersRewards` – a RewardsRootRegistry exists, so epochs can be rooted and
          claims proved. `features.holdersPublisher` – a NON-DRY epoch publisher whose key the
          registry accepts, beside the ERC-20 Transfer index, is configured on this host: the
          registry AND the Transfer index AND a PUBLISHER_KEY whose address equals
          RewardsRootRegistry.publisher() (a chain read cached for 10 minutes – false until it
          has been read, and false once it has been unreadable for an hour) AND PUBLISHER_DRY
          off. The design's precondition for OFFERING a holders' share at all (FEE_SPLIT_DESIGN
          §D10); POST /launches/quote refuses holdersBps / tokenHoldersBps without it
          (HOLDERS_UNAVAILABLE, whose message says which condition failed). It says the
          publisher is able to publish, not that it is running at this moment (publishing is
          an operator command).
        - `features.storefrontG3` – first-party clients (the openfair site, REST prepare, SDK
          >= 1.4.0) should CREATE on generation 3: contracts.launchFactoryG3, with a FeeSplit.
          Per host (env STOREFRONT_G3), default false, never true without a generation-3
          factory. It moves no legacy field.
      responses:
        "200": { description: OK }
        "304": { description: Not modified }
  /fees:
    get:
      tags: [public]
      summary: Live creation fees (validUntil in payload)
      responses: { "200": { description: OK } }
  /quotes:
    get:
      tags: [public]
      summary: Quote assets a launch may be paired with (registry enumeration, cached 60 s)
      description: |
        Empty list on a chain without a QuoteRegistry. Prices come from the asset's
        Chainlink feed; deployFeeWei/targetWei/startFdvWei are the platform's
        USD-anchored economics converted into the asset and are null while the
        feed is stale (a creation would revert then).
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/QuoteAssetList" } } } }
  /zap-quote:
    get:
      tags: [compute]
      summary: Price an ETH buy/sell of a quote-paired launch (pool leg cached 10 s, curve leg 2 s)
      description: |
        Both routes into a launch that is paired with an ERC-20 quote asset:
        paying ETH (OpenZap – WETH -> quote on the deepest of the 500/3000/10000
        pools, then the curve, one transaction) or paying/receiving the quote asset
        directly. Returns the amounts, the floors for both legs, the pool leg's price
        impact, a deadline suggestion and UNSIGNED calldata; this API never signs.
        Pass exactly one of `ethIn`, `quoteIn`, `tokensIn` – amounts are base units
        (wei) as decimal strings. Curve phase only: a graduated launch or an instant
        listing trades on Uniswap and needs the multi-hop router path instead.
        Only the ETH route needs the zap: `ethIn` (and a sell with `payWith=eth`) answers
        404 `ZAP_NOT_ENABLED` where no OpenZap is deployed (`contracts.zap` is null),
        while `quoteIn` and `payWith=quote` encode plain OpenLaunch calls and answer
        on every chain. A frozen quote asset is a 400 `QUOTE_FROZEN`, read live from the
        launch rather than from the index.
        The zap is chosen by the launch's FACTORY: a generation-2 launch is routed through
        `contracts.zap`, a generation-3 one (created by `contracts.launchFactoryG3`) through
        `contracts.zapG3` – each OpenZap accepts only its own factory's launches. The ETH route
        of a generation-3 launch answers the same 404 `ZAP_NOT_ENABLED` where `zapG3` is null
        (Arc, Stable), and the token record's `zap` field says in advance which one applies.
      parameters:
        - { name: launch, in: query, required: true, schema: { type: string }, description: "launch address or its token address (`token` is accepted as an alias)" }
        - { name: ethIn, in: query, schema: { type: string }, description: "buy, paying this much ETH (wei)" }
        - { name: quoteIn, in: query, schema: { type: string }, description: "buy, paying this much of the quote asset (base units) – no pool leg" }
        - { name: tokensIn, in: query, schema: { type: string }, description: "sell this many tokens (base units)" }
        - { name: payWith, in: query, schema: { type: string, enum: [eth, quote] }, description: "on a sell: what the seller receives (default eth); on a buy it is implied by ethIn vs quoteIn" }
        - { name: slippageBps, in: query, schema: { type: integer, default: 100, maximum: 5000 }, description: "per leg; the pool and curve haircuts compound" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ZapQuote" } } } }
        "400": { description: "validation or state error (NOT_QUOTE_LAUNCH, ZAP_NOT_APPLICABLE, NO_POOL, QUOTE_FROZEN, CURVE_UNAVAILABLE with retriable false)", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "404": { description: "launch not indexed, or ZAP_NOT_ENABLED for the ETH route on this chain", content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "429": { description: rate limited }
  /tokens:
    get:
      tags: [public]
      summary: Token list (cursor pagination)
      description: |
        Crowd launches are excluded from every branch of this list except an explicit
        crowd request – `mode=crowd`, or `status` one of raising/succeeded/failed/
        written_off (and `status=dex` alongside `mode=crowd`, which then means "its pool
        is seeded"). That is permanent, not a feature flag: `status=graduated` and
        `status=dex` are public filters older than crowd, and a seeded raise satisfies
        both, so including it would change what those filters mean without changing the
        API version.
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, maximum: 100 } }
        - { name: mode, in: query, schema: { type: string, enum: [fair, instant, crowd] } }
        - { name: status, in: query, schema: { type: string, enum: [curve, graduated, dex, raising, succeeded, failed, written_off] } }
        - { name: creator, in: query, schema: { type: string } }
        - { name: referrer, in: query, schema: { type: string } }
        - { name: symbol, in: query, schema: { type: string } }
        - name: sort
          in: query
          description: >-
            `volume` ranks by 24h indexed volume converted to USD through each launch's own
            price feed (a launch with no usable price is ranked last); the amounts in each
            item stay in that launch's own unit.
          schema: { type: string, enum: [new, volume] }
      responses: { "200": { description: OK } }
  /tokens/{address}:
    get:
      tags: [public]
      summary: Full token card (badges, trust score, curve state)
      description: |
        For a crowd launch: `trustScore` is null, `curve` is null, the fair-launch badges
        are all explicitly false, and `crowd` carries the raise (plus its redemption floor
        and checklist score). GET /crowd/{token} is the full campaign.
      parameters: [{ name: address, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Token" } } } }
        "404": { description: not indexed }
  # --- BEGIN fee split (backend/src/feeSplit.js) ---------------------------
  # Every route here is a READ. Nothing in this API opens an epoch, publishes a
  # root or claims anything: `openEpoch` and `rollover` are permissionless calls
  # anybody's wallet can send, `publishRoot` is the publisher's own key, and
  # `claim` is signed by the recipient against the vault.
  #
  # The token responses above gain two fields on every generation-3 launch:
  # `feeSplit` (FeeSplit, null for every earlier generation – ABSENT, not zero)
  # and `rewards` (a compact summary of the epochs below, null when the launch
  # routes nothing to holders). GET /api/tokens/{address} – the token page's own
  # endpoint, outside /v1 – additionally carries `poolFees`.
  /rewards/mine:
    get:
      tags: [public]
      summary: Every epoch a wallet can claim right now, across every launch, with proofs
      description: |
        The claim page's one call. Never cached in a shared cache: the answer is about one
        wallet.

        The scan is BOUNDED rather than exhaustive, and bounded TWICE, because each candidate
        epoch can cost a full Merkle dump read off disk on the event loop the indexer shares:
        at most 200 candidate rows are looked at and at most 8 published lists are actually
        read. `scanned` says how many rows were looked at, `treesRead` how many lists were read,
        and `truncated` says whether either bound was reached – narrow with `token=` when it
        was. `rootsIndexed: false` means this host has no RewardsRootRegistry configured, so
        nothing here can be proved whatever has accrued.

        `claimed` is this wallet's own indexed history – the answer to "did it land".
      parameters:
        - { name: account, in: query, required: true, schema: { type: string } }
        - { name: token, in: query, schema: { type: string }, description: "narrow to one launch" }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 100 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account: { type: string }
                  items: { type: array, items: { $ref: "#/components/schemas/ClaimableEpoch" } }
                  total: { type: integer }
                  claimed: { type: array, items: { type: object } }
                  rootsIndexed: { type: boolean }
                  scanned: { type: integer }
                  treesRead: { type: integer, description: "published lists read off disk for this answer (at most 8)" }
                  truncated: { type: boolean }
        "400": { description: "BAD_INPUT – account must be a 0x-prefixed 20-byte address" }
        "404": { description: "FEE_SPLIT_OFF – no generation-3 factory is configured on this host" }
        "429": { description: RATE_LIMITED (60/min) }
  /rewards/publisher:
    get:
      tags: [public]
      summary: Who may publish a root on this chain, and every rotation this host has seen
      description: |
        The publisher is a real trusted role and this endpoint exists to say so plainly: it
        decides WHO gets an epoch's value, never HOW MUCH an epoch holds – the vault seals the
        amount and cannot be told to pay more. A guardian may veto a root before it activates
        and delay a rotation; it can neither publish nor touch funds.

        `publisher: null` means this host has seen no rotation, so the seat is still the one set
        at the registry's construction. It is deliberately not read over RPC, because a view that
        answered from the chain would disagree with the rotation log the moment the RPC was down.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  registry: { type: string }
                  publisher: { oneOf: [{ type: "null" }, { type: string }] }
                  rotatedAtBlock: { oneOf: [{ type: "null" }, { type: integer }] }
                  rotations: { type: integer }
        "404": { description: "FEE_SPLIT_OFF, or NO_REGISTRY – no RewardsRootRegistry on this host" }
  /tokens/{address}/rewards:
    get:
      tags: [public]
      summary: One launch's holders pot – the enforced split, then every sealed epoch
      description: |
        `feeSplit` travels with the amounts on purpose: a surface that renders an amount has to
        render the rule beside it, and must not need two calls to do it.

        A launch that routes nothing to holders answers `vault: null` and an empty list rather
        than a 404 – "this launch pays no holders share" is an answer.

        `concentration=1` adds each epoch's top-1 and top-10 share of eligible weight, computed
        from the published leaves this host holds. It is off by default because it reads those
        leaves per epoch. At most 8 lists are read per request – a root is immutable, so an
        answer already computed costs nothing and does not count, and past the cap the figure
        is null with a `note` naming `?limit=` rather than an estimate.
      parameters:
        - { name: address, in: path, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 24, maximum: 100 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
        - { name: concentration, in: query, schema: { type: boolean, default: false } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  feeSplit: { $ref: "#/components/schemas/FeeSplit" }
                  token: { type: string }
                  vault: { oneOf: [{ type: "null" }, { type: string }] }
                  registry: { oneOf: [{ type: "null" }, { type: string }] }
                  rootsIndexed: { type: boolean }
                  total: { type: integer }
                  accrued: { type: object, properties: { quoteWei: { type: string }, tokenWei: { type: string } } }
                  claimed: { type: object, properties: { quoteWei: { type: string }, tokenWei: { type: string } } }
                  epochs: { type: array, items: { $ref: "#/components/schemas/VaultEpoch" } }
        "404": { description: "token is not indexed, or FEE_SPLIT_OFF" }
        "429": { description: RATE_LIMITED (60/min) }
  /tokens/{address}/pool-fees:
    get:
      tags: [public]
      summary: What the pool actually paid, per harvest
      parameters:
        - { name: address, in: path, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 20, maximum: 100 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/HarvestPayout" } }
                  harvests: { type: integer }
                  lifetime:
                    type: object
                    properties:
                      quoteWei: { type: string }
                      holdersQuoteWei: { type: string }
                      tokenBurnedWei: { type: string }
                      holdersTokenWei: { type: string }
        "404": { description: "token is not indexed, or FEE_SPLIT_OFF" }
  # --- END fee split ---------------------------------------------------------
  # ORDER IS LOAD-BEARING in the implementation: /crowd/terms is registered before
  # /crowd/{token}, or every terms request would be matched as a raise called "terms".
  /crowd/terms:
    get:
      tags: [public]
      summary: What creating a raise in one asset costs and is bound by (cached 60 s, failures included)
      description: |
        Omit `quote` for a raise denominated in the chain's native coin. A stale price feed
        or an asset the registry does not allow-list answers 200 with `available: false`
        and a reason – it is a state of the world, not a server fault, and creation would
        revert in exactly the same place.
      parameters:
        - { name: quote, in: query, schema: { type: string }, description: "allow-listed ERC-20; omit for the native coin" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/CrowdTerms" } } } }
        "400": { description: "quote is not an address" }
        "404": { description: "CROWD_NOT_ENABLED – no CrowdFactory on this chain" }
  /crowd/attestations:
    post:
      tags: [public]
      summary: Record that a wallet accepted the self-attestation statements
      description: |
        The interstitial shown before the first action on a raise (before the review step of
        creating one, and before a launch is priced in a tokenised stock) is acknowledged
        here, server-side: wallet address when one is connected, the identifier of the text
        version shown, the surface, and the time. Nothing is blocked anywhere – the dialog
        is the whole control (owner decision, 2026-09-10).
        Nothing else is stored – no IP, no country, no user agent. A localStorage key alone
        is a UX reminder that clearing site data erases; the point of the acknowledgement
        is that it is provable.

        `address` is OPTIONAL. On step 3 of /create the statements are read before a wallet
        is connected, and refusing the record there would mean the one acknowledgement that
        actually happened is the one never written down. A missing address is stored as
        null and never invented; a present one must be a full 0x address.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [version]
              properties:
                address: { type: string, nullable: true, description: "the wallet that accepted, when one is connected" }
                version: { type: string, description: "identifier of the text shown, e.g. 2026-09-10" }
                context: { type: string, enum: [page, create, pair], default: page, description: "page = a raise, create = the review step of a crowd create, pair = a launch paired with a stock token" }
                token: { type: string, nullable: true, description: "the raise it was accepted for – a full address, or omitted on /create where no raise exists yet" }
                quote: { type: string, nullable: true, description: "the paired asset a 'pair' attestation was made for – optional" }
      responses:
        "200": { description: recorded }
        "400": { description: validation error }
        "404": { description: "CROWD_NOT_ENABLED – the crowd surfaces only; context=pair is accepted with raises switched off" }
  /crowd/attestations/{address}:
    get:
      tags: [public]
      summary: Has this wallet accepted a given version of the statements?
      parameters:
        - { name: address, in: path, required: true, schema: { type: string } }
        - { name: version, in: query, schema: { type: string } }
      responses: { "200": { description: OK } }
  /crowd/{token}:
    get:
      tags: [public]
      summary: One crowd launch in full (cached 10 s)
      description: |
        Accepts the token address or the OpenCrowd address. Everything the campaign page
        shows: the immutable terms, the clock (including the freeze extension), progress,
        both supply figures, the settlement, the author's escrow with its solvency ratio
        and the date the redemption floor reaches zero, and the five-point terms checklist.
        No trust score – see the checklist. `metadata.matches` says whether the statements
        served here are the bytes the creation transaction committed to.
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/CrowdDetail" } } } }
        "400": { description: invalid address }
        "404": { description: no crowd launch indexed at this address }
  /crowd/{token}/participant/{address}:
    get:
      tags: [public]
      summary: One wallet's position in a raise, with a reason for every disabled action
      description: |
        Never cached. `blockedBy` is the machine-readable reason each of the six actions
        cannot be taken right now, and `maxAcceptableWei` is what an amount field must
        clamp to – it is zero for a creator-side address whose 10 % allowance is spent, so
        the button can be disabled with `selfCap` instead of failing a gas estimate.
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
        - { name: address, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/CrowdParticipant" } } } }
        "400": { description: invalid address }
        "404": { description: no crowd launch indexed at this address }
        "429": { description: rate limited }
  /tokens/{address}/parked-payouts:
    get:
      tags: [public]
      summary: Harvester payouts the launch's quote token refused (paused issuer or blocklisted recipient)
      description: |
        The harvester parks a payout instead of reverting; `claim(to)` on the harvester
        releases it. `claimed` is a hint: PayoutClaimed does not name the rows it covered,
        so the holding contract's own view stays authoritative.
        A crowd launch parks payouts too, on the OpenCrowd contract itself, and those are
        released by `claimParked(to)` – or, for the platform's own cut, by
        `claimPlatformFee()` and nothing else. `source` on every row says which, and
        `denomination` says what the amounts ARE: a raise that collects the native coin
        parks NATIVE wei, which no harvester ever does.
        `source` can be `null` on a row the RAISE holds: `platformTreasury()` was
        unreadable when the log was indexed, so the two claim calls cannot be told apart
        yet. Unknown is the honest answer – offer no claim button for such a row rather
        than guessing `crowd`, which would revert `NothingToClaim` on the platform's pot.
        The indexer reclassifies the row as soon as the address answers.
      parameters: [{ name: address, in: path, required: true, schema: { type: string } }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  harvester: { type: [string, "null"] }
                  crowd: { type: [string, "null"], description: "the OpenCrowd holding a raise's parked payouts" }
                  quote:
                    oneOf:
                      - type: "null"
                      - $ref: "#/components/schemas/QuoteRef"
                  denomination:
                    type: object
                    description: "what every amountWei below IS – native = the chain's coin"
                    properties:
                      symbol: { type: [string, "null"] }
                      decimals: { type: integer }
                      native: { type: boolean }
                  pendingWei: { type: string, description: "sum of the un-claimed rows" }
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        to: { type: string }
                        amountWei: { type: string }
                        ts: { type: [string, "null"], format: date-time }
                        txHash: { type: [string, "null"] }
                        claimed: { type: boolean }
                        source: { type: string, enum: [harvester, crowd, crowd-fee], description: "which call releases it: claim(to) / claimParked(to) / claimPlatformFee()" }
                        contract: { type: [string, "null"], description: "the contract that holds it" }
                  note: { type: string }
        "404": { description: not indexed }
  # ---- holder snapshots (airdrop board) ------------------------------------
  /snapshots:
    post:
      tags: [compute]
      summary: Queue a holder snapshot of an ERC-20 or an NFT collection
      description: |
        The recipient list behind the board's two holder groups. It is a QUEUED JOB and never an
        inline answer: 50 holders a page means 5,000 holders is ~100 explorer requests and 200,000
        is ~4,000 – about a tenth of one backend's daily share of the explorer key pool, spent in a
        single click. One worker drains the queue at the explorer client's own pace.

        `minValue` is MANDATORY and must be above zero – the minimum balance, or the minimum number
        of items for a collection. It is simultaneously the sybil floor and the thing that makes the
        query affordable: rows arrive sorted by balance descending, so "at or above X" is "page
        until the first row below X, then stop".

        Rows the explorer flags `is_scam` are never included; `is_contract` rows are excluded unless
        `includeContracts` is set (a DAO treasury is a contract). The launch's own system addresses
        – bonding curve, pool, team vesting, creator, LP safe, factory – plus the zero and burn
        addresses are excluded always and cannot be added back.

        An ERC-1155 collection is deduped per address: the endpoint answers one row per
        (holder, token_id) pair, so `holdersCount` counts pairs and `listCount` counts people.

        The job FAILS CLOSED, and "complete" is not the same as "found something". A walk that could
        not finish – the explorer went away, the page budget ran out, the token's type did not match
        the rows – publishes nothing at all (`INCOMPLETE`, `TYPE_MISMATCH`, `EXPLORER_UNREACHABLE`),
        and neither does a walk that finished with nothing in it. An instance whose own indexer is
        behind answers the valid shape `{"items": [], "next_page_params": null}`; that is
        `EXPLORER_EMPTY`, not a holder list. `RECONCILE` is the softer version – a complete walk of a
        one-row-per-holder token that answered far fewer rows than the explorer's own
        `holdersCount` – and `EMPTY_LIST` is a walk whose every row was excluded or below the floor.

        Off on chains that are not Blockscout-backed (Stable 988): 404 `SNAPSHOT_OFF`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [kind, address, minValue, requestedBy]
              properties:
                kind: { type: string, enum: [erc20, nft] }
                address: { type: string, description: "the token or collection, full 0x address" }
                minValue: { type: string, description: "minimum balance in the token's smallest unit, or minimum items held – mandatory, above 0" }
                requestedBy: { type: string, description: "the wallet asking; a claim, not an identity – it carries the per-wallet rate limit" }
                includeContracts: { type: boolean, default: false, description: "keep rows the explorer flags is_contract (is_scam is never kept)" }
      responses:
        "200": { description: "queued – poll GET /snapshots/{id}" }
        "400": { description: "BAD_INPUT – kind, address, minValue or requestedBy" }
        "404": { description: "SNAPSHOT_OFF – this chain is not Blockscout-backed, or this host holds no explorer key" }
        "429": { description: "SNAPSHOT_RATE_LIMITED (per wallet) or SNAPSHOT_QUEUE_FULL (per chain)" }
  /snapshots/{id}:
    get:
      tags: [compute]
      summary: One snapshot job – its status, its block, its hashes
      description: |
        `status` is queued | running | done | failed | held. `held` means the cross-check against
        this host's own `Transfer` index disagreed with the explorer beyond tolerance, so nothing
        may be published from it; `crossCheck` says what was compared, or why nothing was (a host
        with no local index, a token whose index starts after its creation block, an index behind
        the snapshot window – each said in words rather than silently skipped).

        `block` and `blockHash` are read together, from one call, immediately before the holders:
        our chains are not archive chains and the explorer's holder list takes no block parameter,
        so the snapshot is taken at head and pinned by its block hash. It is reproducible by
        replaying Transfer logs – never by asking a pruned RPC for balances at a past block, and no
        surface may say otherwise.

        `blockEnd` is the head read again when the walk FINISHED, and `blockDrift` is the width
        between the two. It is not decoration: the walk is up to `MAX_PAGES` paced explorer
        requests, which on a 0.1 s chain is thousands of blocks, so page 1 and the last page are
        balances at different blocks and the list is read across a window rather than at one block.
        `note` says which of the two this job produced, and a width above the configured bound fails
        the job (`HEAD_DRIFT`) instead of publishing a list whose rows are minutes apart.

        `rowsSeen` and `dropped` are what the walk actually read and what the filters removed, so
        `listCount` can be reconciled against the explorer's `holdersCount` by a reader and not only
        by this server.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK }
        "404": { description: "unknown job, or SNAPSHOT_OFF on this chain" }
  /snapshots/{id}/list:
    get:
      tags: [compute]
      summary: The canonical holder list, with the hash of the bytes as served
      description: |
        Lower-case addresses, sorted ascending, one newline-terminated row each, in the form
        `address,quoteAmount,tokenAmount`. `quoteAmount` is always `0` in an airdrop snapshot – the
        column exists because the shared Merkle leaf carries two assets, so the file and the leaves
        agree byte for byte, and a leaf's index is its row's position in this file.

        `servedHash` is recomputed from what is served on every request and stands beside the
        `listHash` stored when the job finished, so a reader can redo the hash over the bytes in
        their hand. A hash with no bytes behind it is theatre.

        A job that is not `done` has no bytes at all: 409 `SNAPSHOT_NOT_READY`.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK }
        "404": { description: "unknown job, or SNAPSHOT_OFF on this chain" }
        "409": { description: "SNAPSHOT_NOT_READY – queued, running, failed or held" }
  # ---- merkle proof service (airdrop campaigns, fee-split epochs) -----------
  /merkle/{root}:
    get:
      tags: [public]
      summary: One published Merkle tree – its scope, its size, its totals, its list hash
      description: |
        The proof service this app has never had. Two features pay a list of wallets from one leaf
        shape: an airdrop campaign (`scopeKind: airdrop`, `scope` = the on-chain campaign id) and
        the fee-split holders vault (`scopeKind: epoch`, `scope` = the epoch). A crowd raise's
        allowlist can adopt the same routes – its root is pasted by hand today.

        The leaf is an OpenZeppelin `StandardMerkleTree` leaf over
        `['uint256','uint256','address','uint256','uint256']` carrying
        `(scope, index, account, quoteAmount, tokenAmount)`, which in Solidity is

            keccak256(bytes.concat(keccak256(abi.encode(scope, index, account, quoteAmount, tokenAmount))))

        with sibling pairs hashed sorted, exactly as OpenZeppelin's `MerkleProof.verify` does.
        `abi.encode`, never `abi.encodePacked`. `index` is the row's position in the canonical list
        below, which is what a claimed-bitmap indexes. An airdrop always builds with
        `quoteAmount = 0` and its distributor passes the literal `0`, so a leaf carrying a quote leg
        is unprovable there; the fee-split vault is a two-asset pot and uses both legs.

        `scopeKind` is NOT part of the leaf: campaign 5 and epoch 5 over a byte-identical list have
        the SAME root. The two are separated by being two contracts each storing its own root.

        A tree is immutable by its root – the root is the hash of its contents – so every answer
        here is `Cache-Control: immutable`.

        Trees are published by an operator, not by a request: building one is a synchronous pass
        over up to 250,000 rows and it happens once per campaign or epoch. An airdrop campaign's
        tree comes from `backend/scripts/merkle-tree.mjs` (`build --write`, then `verify`); a
        fee-split epoch's comes from `backend/scripts/publish-epoch.mjs`, which weights every
        holder over the epoch's own block window, stores the tree here and only then sends
        `publishRoot` – so the list is already servable when the on-chain event appears, which is
        what the registry's 24 h ROOT_DELAY is a warning window for. The URL of this route is the
        `cid` that event carries. A host that has published none answers 404 here, which is the
        honest answer and not an outage.

        Rate-limited, 120/min per IP: the read is cheap but it is synchronous, and the process is
        single-threaded.
      parameters: [{ name: root, in: path, required: true, schema: { type: string, pattern: "^0x[0-9a-fA-F]{64}$" } }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  root: { type: string }
                  scopeKind: { type: string, enum: [airdrop, epoch] }
                  scope: { type: string, description: "uint256 as a decimal string – campaign id or epoch" }
                  listHash: { type: string, description: "keccak256 of the canonical list bytes" }
                  leafCount: { type: integer }
                  totalQuoteWei: { type: string, description: "base units; '0' for every airdrop list" }
                  totalTokenWei: { type: string, description: base units }
                  leafTypes: { type: array, items: { type: string } }
                  createdAt: { type: [string, "null"], format: date-time }
        "400": { description: "BAD_INPUT – root must be 0x + 64 hex" }
        "404": { description: unknown merkle root }
  /merkle/{root}/proof/{account}:
    get:
      tags: [public]
      summary: One wallet's proof against one root (rate-limited, 60/min per IP)
      description: |
        Everything a claim call needs and nothing it has to fetch twice: the leaf's own `index`,
        both amount legs, the `scope` word and the proof itself. Feed them back in the leaf's own
        order to the distributor's `claim`.

        A wallet that is not in the list and a root that does not exist answer the SAME 404, with
        the same message. That is deliberate: they are the same answer to a claimer, and telling
        them apart only helps somebody enumerating a list they cannot claim from.
      parameters:
        - { name: root, in: path, required: true, schema: { type: string, pattern: "^0x[0-9a-fA-F]{64}$" } }
        - { name: account, in: path, required: true, schema: { type: string, pattern: "^0x[0-9a-fA-F]{40}$" } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  root: { type: string }
                  scopeKind: { type: string, enum: [airdrop, epoch] }
                  scope: { type: string }
                  index: { type: integer, description: "position in the canonical list – the claimed-bitmap index" }
                  account: { type: string, description: checksummed }
                  quoteAmount: { type: string, description: "base units; '0' in every airdrop leaf" }
                  tokenAmount: { type: string, description: base units }
                  proof: { type: array, items: { type: string, description: "0x + 64 hex" } }
                  leafTypes: { type: array, items: { type: string } }
        "400": { description: "BAD_INPUT – malformed root or account" }
        "404": { description: "no proof for this root and account (unknown root, or not in the list)" }
        "429": { description: RATE_LIMITED }
  /merkle/{root}/list:
    get:
      tags: [public]
      summary: The canonical recipient list of a root, as bytes (text/plain)
      description: |
        Lower-case addresses, sorted ascending, one newline-terminated row each, in the form
        `address,quoteAmount,tokenAmount`; amounts are plain decimal base units with no leading
        zeros, so each number has exactly one spelling and the file has exactly one hash. A leaf's
        `index` is its row's position here.

        `X-List-Hash` is recomputed from what is served on every request – the `servedHash` beside
        the published `listHash` – and `X-Merkle-Root` names the tree. With this file and the
        library, a recipient rebuilds the root themselves and checks that the amount they are being
        offered is the amount in the tree, trusting this server for none of it. A hash with no bytes
        behind it is theatre.

        Rate-limited, 10/min per IP – the tightest of the three. Every cache miss parses the stored
        dump and builds the whole file as one string in the response body, which is megabytes on a
        six-figure list, and a recipient downloads it once.
      parameters: [{ name: root, in: path, required: true, schema: { type: string, pattern: "^0x[0-9a-fA-F]{64}$" } }]
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema: { type: string }
        "400": { description: "BAD_INPUT – root must be 0x + 64 hex" }
        "404": { description: unknown merkle root }
  # ---- allocation board (airdrop campaigns + the build pipeline) ------------
  # OFF UNLESS A DISTRIBUTOR IS CONFIGURED. Every route below answers 404
  # `AIRDROP_OFF` on a chain with no OpenAirdrop singleton in its env – the
  # switch is an address, not a flag – and on Stable 988, where the board is off
  # entirely in v1 and a pasted distributor address is refused rather than
  # honoured. A client gates on that one code; there is no partial mode.
  # GET /config's `features.airdrop` and `contracts.airdrop` say the same thing
  # ahead of time, from the same predicate.
  /airdrops:
    get:
      tags: [public]
      summary: Allocation campaigns of a token, or the newest across the chain
      description: |
        The campaigns this host has INDEXED, which is not the same as the campaigns this host
        created: `reserve()` is permissionless, so the list is whatever the chain contains. A row
        whose reserve sits below this host's start block still counts its claims and says
        `partial: true` – see the AirdropCampaign schema.
      parameters:
        - { name: token, in: query, schema: { type: string }, description: "full 0x address; omitted lists the chain's newest campaigns" }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/AirdropCampaign" } }
                  total: { type: integer }
        "400": { description: "BAD_INPUT – token must be a 0x-prefixed 20-byte address" }
        "404": { description: "AIRDROP_OFF – no OpenAirdrop distributor configured on this chain" }
  /airdrops/mine:
    get:
      tags: [public]
      summary: Every campaign a wallet is in, claimed or not
      description: |
        The UNION of two different facts: the address is in a list this host stored, or it has
        CLAIMED (the chain says so, whatever this host holds). The second is why a campaign built
        somewhere else still appears the moment the wallet claims.

        Never cached in a shared cache: the answer is about one wallet.
      parameters:
        - { name: account, in: query, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 100, maximum: 200 } }
      responses:
        "200":
          description: "OK – each item is an AirdropCampaign plus an `allocation` (index, amount, group, reason, claim)"
        "400": { description: "BAD_INPUT – account must be a 0x-prefixed 20-byte address" }
        "404": { description: "AIRDROP_OFF – no OpenAirdrop distributor configured on this chain" }
        "429": { description: RATE_LIMITED (60/min) }
  /airdrops/{id}:
    get:
      tags: [public]
      summary: One campaign – the contract facts, the snapshot, the list hash and the creator's rule
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AirdropCampaign" }
        "404": { description: "unknown campaign (a non-numeric id is simply not one), or AIRDROP_OFF" }
  /airdrops/{id}/list:
    get:
      tags: [public]
      summary: The canonical recipient list bytes, with the hash of what was served
      description: |
        `address,quoteAmount,tokenAmount` – lower case, sorted by address ascending, one
        newline-terminated row each; `quoteAmount` is always 0 in an airdrop. A leaf's index is its
        row's position in this file.

        `servedHash` is recomputed from the bytes on every request and stands beside the on-chain
        `listHash`, so a reader can redo the hash over the bytes in their hand and a server that
        silently edited a list cannot hide it; `matches` is that comparison, done here so no page
        compares two strings itself. A hash with no bytes behind it is theatre.
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign: { type: integer }
                  root: { type: string }
                  snapshotBlock: { oneOf: [{ type: "null" }, { type: integer }] }
                  snapshotHash: { oneOf: [{ type: "null" }, { type: string }] }
                  listHash: { oneOf: [{ type: "null" }, { type: string }] }
                  servedHash: { type: string }
                  matches: { oneOf: [{ type: "null" }, { type: boolean }] }
                  count: { type: integer }
                  format: { type: string }
                  list: { type: string }
        "404": { description: "unknown campaign, or AIRDROP_OFF" }
        "409": { description: "LIST_NOT_HELD – the campaign has published no list yet, or this host holds no tree for its root (a legal state: the campaign was built elsewhere)" }
        "429": { description: RATE_LIMITED (10/min) }
  /airdrops/{id}/allocation/{account}:
    get:
      tags: [public]
      summary: "\"In your allocation\" – amount and Merkle proof, or 404"
      description: |
        ONE 404 for "no such campaign", "this campaign has no list" and "you are not in it": they are
        the same answer to a claimer, and telling them apart only helps somebody enumerating a list
        they cannot claim from. The proof is served against the root the CHAIN published, so a wallet
        can verify it against the published bytes and never has to trust this host.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: account, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AirdropAllocation" }
        "400": { description: "BAD_INPUT – account must be a 0x-prefixed 20-byte address" }
        "404": { description: "no allocation for this campaign and account, or AIRDROP_OFF" }
        "429": { description: RATE_LIMITED (60/min) }
  /airdrops/groups:
    get:
      tags: [public]
      summary: The recipient-group cards a create flow renders
      description: |
        Five cards: `manual`, `curve-holders`, `erc20-holders`, `nft-holders` and `fomo`. The last is
        `enabled: false` and carries a REASON STRING that the page is meant to print in full rather
        than summarise as "coming soon" – there is no official fomo.family feed, and a launchpad whose
        pitch is verifiability does not put a recipient group on a reseller's auth token.

        `curve-holders` is answered from this backend's own trade index and REFUSES past graduation:
        the pool holds the float there and `total - sold` describes nobody. The two holder cards read
        a COMPLETED snapshot job (POST /snapshots) and their threshold is mandatory.
      responses:
        "200": { description: "OK – { groups[], limits: { maxGroups, maxRecipients }, fomo: { enabled: false, reason } }" }
        "404": { description: "AIRDROP_OFF – no OpenAirdrop distributor configured on this chain" }
  /airdrops/drafts:
    post:
      tags: [compute]
[...]
